*, ::after, ::before {
  box-sizing: border-box;
  text-align: center;
}

.button-container-style {
  margin: 200px auto;
  width: 300px;
  text-align: center;
}

.button-relative {
  position: relative;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #fff; /*#212529;*/
  background-color: #dc3545;
  border-color: #72151f;
  text-align: center;

  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*background-color: transparent;*/
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
/*red button
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
*/

.btn-secondary:hover {
  color: #fff;
  /*background-color: #5a6268;
  border-color: #545b62;
  */
  background-color: #7a0922;
  border-color: #3d0303;
}

.btn:hover {
  color: #fff;/* #212529;*/
  text-decoration: none;
  box-shadow: 0 0 0.2rem 0.2rem rgb(225 83 97 / 50%);
}

button, select {
  text-transform: none;
}

button, input {
  overflow: visible;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger.focus, .btn-danger:focus {
  box-shadow: 0 0 0 0.2rem rgb(225 83 97 / 50%);
}
/*------------
*/
.bs-popover-auto[x-placement^=top]>.arrow::after, .bs-popover-top>.arrow::after {
  bottom: 1px;
  border-width: .5rem .5rem 0;
  border-top-color: #fff;
}

.popover .arrow::after, .popover .arrow::before {
  position: absolute;

  display: block;
  content: "";
  border-color: transparent;
  border-style: solid;
}

.popover {
  position: absolute;

  top: 0;
  left: 0;
  z-index: 1060;
  display: block;
  max-width: 276px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: .875rem;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 0.3rem;
}

.fade {
  transition: opacity .15s linear;
}


element.style {
  left: 124px;
}
.bs-popover-auto[x-placement^=top]>.arrow, .bs-popover-top>.arrow {
  bottom: calc((0.5rem+ 1px) * -1);
}

.popover .arrow {
  position: absolute;
  display: block;
  width: 1rem;
  height: 0.5rem;
  margin: 0 0.3rem;
}
.bs-popover-auto[x-placement^=top]>.arrow::before, .bs-popover-top>.arrow::before {
  bottom: 0;
  border-width: 0.5rem 0.5rem 0;
  border-top-color: rgba(0,0,0,.25);
}

.popover .arrow::after, .popover .arrow::before {
  position: absolute;
  display: block;
  content: "";
  border-color: transparent;
  border-style: solid;
}

.bs-popover-auto[x-placement^=top], .bs-popover-top {
  margin-bottom: .5rem;
}


.arrow {
  position: absolute;
  width: 20px;
  height: 20px;
}

.arrow::before {
  content: "";
  position: absolute; 
}

.arrow::after {
  content: "";
  position: absolute; 
}

/*
.flex{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.style-img {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

button {
  margin: 0 !important;
}

.card {
  width: 500px;
  height: 50px;
}

.header {
  margin-bottom: 10px;
}

/*
.tasks__control {
  display: flex;
  justify-content: space-between;
}

.tasks__input {
  display: block;
  width: 80%;
  padding: 10px 20px;
  font-family: Golos, Arial, sans-serif;
  border: 1px solid #e2e2e2;
  box-sizing: border-box;
}

.tasks__add {
  font-family: Golos, Arial, sans-serif;
  color: #fff;
  background-color: #06f;
  border: 1px solid transparent;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  outline: none;
  padding: 8px 12px;
  text-align: center;
  transition: 0.3s ease;
  text-decoration: none;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
  font-weight: 500;
  box-shadow: none;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 2px 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
}

.tasks__list {
  margin-top: 10px;
}

.task__title {
  flex-grow: 1;
  padding: 10px 5px;
}

.task__remove {
  color: red;
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
}


* {
    box-sizing: border-box;
    color: black;
}

.title {
    text-align: center;
}



.field {
    background-color: rgb(200, 255, 129);
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    font-family: 'Arial', sans-serif;
}

.col {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}


.select{
  border: 5px dashed black;
  border-radius: 10%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
}

/*.invalid:hover {
  background-color: #e46a74;
  border-width: 2px;
}

.valid {
  background-color: #bff0c3;
}

.busy {
    cursor: url("../img/mol.jpg") , auto;
}

.hide {
    background-color: rgb(10, 10, 10);
    border-radius: 50%;
}
*/

